button {
    transition: 0.3s;
}

button:hover {
    transition: 0.3s;
    border-radius: 10px; 
}

#invested-sum{
    text-decoration: underline;
}

.container h1{
    text-align: center;
}

#crypto-form{
    justify-items: center;
}

.form-group{
    width: 70%;
    max-width: 1200px;
}

.portfolio-item{
    cursor: pointer;
    transition: 0.3s;
}

.portfolio-item:hover{
    background-color: #f4f4f4;
    transition: 0.3s;
}

.header-io-div{
    width: 57%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-io-div input{
    width: 45%;
}

.header-io-div label{
    margin: 0;
}